@using MvcOnlineTicariOtomasyon_2.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip Kodu: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<div class="py-3">
    <table class="table table-bordered text-center">
        <tr>
            <th>Takip Kodu</th>
            <th>Personel</th>
            <th>Alıcı</th>
            <th>Tarih</th>
            <th>Detaylar</th>
        </tr>
        @foreach (var k in Model)
        {
            <tr>
                <td>
                    @k.TakipKodu
                </td>
                <td>
                    @k.Personel
                </td>
                <td>
                    @k.Alici
                </td>
                <td>
                    @k.Tarih
                </td>
                <td>
                    <a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-primary">Detaylar</a>
                </td>
            </tr>
        }

    </table>
    <div class="d-flex justify-content-end">
        <a href="/Kargo/YeniKargo" class="btn btn-danger">Yeni Kargo Girişi</a>
    </div>
</div>
